<div>
  <div class="controls">
    <button class="btn" (click)="toggleIsPaused()">{{ isPaused ? 'Start' : 'Pause'}}</button>
    <button class="btn" [disabled]="isLive" (click)="goLive()">{{ isLive ? 'Live' : 'Go Live'}}</button>
  </div>
    <div class="draggable-progress">
      <progress [max]="maxTimestamp - minTimestamp" [value]="currentTimestamp - minTimestamp"></progress>
      <input
        class="no-default-style color bar gradient"
        type="range"
        [min]="minTimestamp"
        [max]="maxTimestamp"
        [step]="STEP"
        [value]="currentTimestamp"
        (input)="changeCurrentValue($event)"
      />
    </div>
  <p class="description">
    Active Timestamp Snapshot: <i>{{ currentTimestamp }}</i>
  </p>
  <p class="description">
    Zero point Timestamp: <i>{{ minTimestamp }}</i>
  </p>
  <p class="description">
    Current Timestamp (live): <i>{{ maxTimestamp }}</i>
  </p>
</div>
